@import url(https://fonts.googleapis.com/css?family=Lato:400,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600);

html, body {
    font-family: 'Open Sans', sans-serif;
}

body {
  padding-top: 50px;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 // Datatbles

 .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding : 0px;
    margin-left: 0px;
    display: inline;
    border: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0px;
}

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1, table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd, table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1  {
  background-color: #fff;
}

.heading-container {
  padding-bottom: 5px;
}

.heading-text {
  font-size: 36px;
}

.heading-button {
  margin-top: 10px;
}

// Font Awesome

.fa {
  display: inline;
  padding-right: 15px;
}
